.env
venv
data


# Virtual environment
venv/
.env/

# Bytecode
__pycache__/
*.pyc

# Editor/IDE files
.vscode/
.idea/
*.swp

# Test coverage
htmlcov/
.pytest_cache/

# Logs and temporary files
*.log
*.tmp
